{% if connected %}
{% else %}
	<button type="button" id="connect" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#megaplanConnect">Подключиться к Мегаплану...</button>
	<div class="modal fade" id="megaplanConnect" tabindex="-1" role="dialog" aria-labelledby="megaplanConnectLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="megaplanConnectLabel">Подключение к Мегаплану</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning"><strong>ВНИМАНИЕ!</strong> Введенные ниже данные мы не сохраняем и в дальнейшем не используем, а также не передаем третьим лицам. В CRM «Мегаплан» это единственный способ интеграции. Все действия в данной системе будут выполняться от имени того пользователя, чьи логин и пароль вы здесь укажите. В целях повышения безопасности мы рекомендуем добавить отдельного сотрудника, о том как это делается можно посмотреть видео ниже.</div>
					<form class="form-horizontal" id="formMegaplanConnect" action="" method="post">
						<div class="form-group" id="groupMegaplanHost">
							<label for="inputMegaplanHost" class="col-sm-2 control-label">Домен</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputMegaplanHost" placeholder="mycompany.megaplan.ru">
							</div>
						</div>
						<div class="form-group" id="groupMegaplanLogin">
							<label for="inputMegaplanLogin" class="col-sm-2 control-label">Логин</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputMegaplanLogin" placeholder="Логин в Мегаплане">
							</div>
						</div>
						<div class="form-group" id="groupMegaplanPassword">
							<label for="inputMegaplanPassword" class="col-sm-2 control-label">Пароль</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="inputMegaplanPassword" placeholder="Пароль в Мегаплане">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
				</div>
			</div>
		</div>
	</div>
{% endif %}