Header set Access-Control-Allow-Origin "*"

php_value browscap "browscap.ini"

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<Files ~ "\.json">
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
</Files>