Header set Access-Control-Allow-Origin "*"

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_URI} !=/apache-stats
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]