{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		{% include 'layout/menu.twig' %}
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h1>О проекте</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>Что это?</h2>
						<p>Эти система автоматического импорта компаний из справочника 2GIS по индивидуальным критериям. Моментальный импорт от 1 до 50 компаний за 1 раз в справочник CRM системы.</p>
					</div>
				</div>
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>Как работает?</h2>
						<p>Модуль «Генератор лидов» получает данные из справочника 2GIS используя специальный персональный ключ, выдаваемый каждому пользователю при регистрации на сайте. Данные получаются согласно указанным пользователем критериям и выводятся списком по 50 компаний на 1 страницу. Все компании по умолчанию отмечены для добавления в CRM. Пользователь может самостоятельно исключать ненужные компании из предложенного списка. Сам список формируется из названия компании, адреса и вида деятельности компании. Контактные данные каждой компании автоматически вносятся в CRM после импорта. В случае отсутствия подключения к одному из тарифных планов «Генератор лидов» не может выполнить ни одного запроса к справочнику 2GIS.</p>
					</div>
				</div>
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>Для кого?</h2>
						<p>Для всех компаний которые активно занимаются поиском новых клиентов методом обзвона или рассылки сообщений. Каждая из подобных компаний может либо длительно составлять свою базу клиентов, тратя на её формирование много времени и финансов, либо обратиться к компаниям которые продают базы 2GIS и далее пользоваться устаревшей информацией за не маленькие деньги и еще тратя время на обработку данных из предоставленной базы. Либо можно воспользоваться «Генератором лидов» и значительно упростить импорт компаний в вашу базу CRM и в этот же момент передавая менеджерам готовые данные для дальнейшей работы с потенциальными клиентами.</p>
					</div>
				</div>
			</div>
		</section>
		{% include 'layout/footer.twig' %}
	</div>
	{% include 'layout/login.twig' %}
	{% include 'layout/scripts.twig' %}
	<script src="/public/js/classie.min.js"></script>
	<script src="/public/js/modalEffects.min.js"></script>
</body>
</html>
{% endspaceless %}