{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/transifex.twig' %}
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		{% include 'layout/menu.twig' %}
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h1>О проекте</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>Что это?</h2>
						<p>Эти система моментального импорта компаний из справочника 2ГИС по индивидуальным критериям в адаптированном для конкретной пользовательской CRM, ERP или BPM системы.</p>
					</div>
				</div>
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>Как работает?</h2>
						<p>Выполняете вход в личный кабинет, пополняете баланс, выбираете подходящий тарифный план, при необходимости и далее следуя указаниям мастера выборок составляете себе выборку компаний или же устанавливаете нативный модуль для вашей CRM, ERP или BPM системы.</p>
						<p>Вы получает данные из справочника 2ГИС используя специальный персональный ключ, выдаваемый каждому пользователю при регистрации на сайте. Данные получаются согласно указанным пользователем критериям и формируются списками по 50 компаний.</p>
						<p>Нативные модули выполняют прямой импорт компаний в локальный справочник CRM, ERP или BPM системы. В ином случае сформированную выборку необходимо будет сохранить и загрузить в вашу CRM, ERP или BPM систему.</p>
					</div>
				</div>
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>Для кого?</h2>
						<p>Для всех компаний которые активно занимаются поиском новых клиентов методом обзвона или рассылки сообщений. Каждая из подобных компаний может либо длительно составлять свою базу клиентов, тратя на её формирование много времени и финансов, либо обратиться к компаниям которые продают базы 2ГИС и далее пользоваться устаревшей информацией и тратя время на обработку данных из предоставленной базы. Либо можно воспользоваться нашим сервисом и значительно упростить импорт компаний в вашу базу потенциальных клиентов. Наш сервис подготовит и сформирует все данные в нужном для вашей системы формате.</p>
					</div>
				</div>
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>Для каких городов?</h2>
						<p>Понятное дело, мы привязаны к базам 2ГИС и следовательно предоставляем данные из следующих <notr><span id="total_cities"></span></notr> городов:</p>
						<div class="tags" id="cities"></div>
						<p>Не плохой список городов, да? Вот и мы также считаем. Если вы не нашли свой город в этом списке, то с вероятностью 99,9% мы не сможем предоставлять услуги для вашего города, но тем не менее спасибо за проявленный интерес.</p>
					</div>
				</div>
			</div>
		</section>
		{% include 'layout/footer.twig' %}
	</div>
	{% include 'layout/login.twig' %}
	{% include 'layout/webcall.twig' %}
	{% include 'layout/scripts.twig' %}
	<script src="/public/js/classie.min.js"></script>
	<script src="/public/js/modalEffects.min.js"></script>
	<script src="/public/js/webcall.js"></script>
	{% jshrink %}
	<script>
		$(document).ready(function() {
			$.post('/getSupportCities/', function(data) {
				$('#total_cities').text(data.city.length);
				data.city.forEach(function(entry) {
					$('#cities').append('<div class="ticket"><span class="circle"></span><a href="#.">'+entry.name+'</a></div>');
				});
			});
		});
	</script>
	{% endjshrink %}
</body>
</html>
{% endspaceless %}