doctype html
html
	head
		include header.jade
	body
		#wraper
			include menu.jade
			section.visual-other
				.container
					.text-block
						.heading-holder: h1 О нас
			section.main
				.container
					.row
						.text-box.col-md-offset-1.col-md-10
							h2 Кто мы?
							p.
								Мы небольшая группа единомышлинников, занимающаяся разработкой программного обеспечения, как в виде web-приложений, так и нативного для рабочих станций, планшетов и мобильных устройств. Также не в меньшем приоритете для нас является разработка серверного ПО для различных телекоммуникационных систем.
					.row
						.text-box.col-md-offset-1.col-md-10
							h2 Работа у нас
							p.
								Имеете знания в области разработки приложений на языках PHP, JavaScript, Node.js, C, C++, C#, отлично понимаете структуру и синтаксис SQL: MySQL, PostgreSQL, MS SQL. Мы согласны и с вами разделить кусок пирога на равных условиях при вашем вложении сил, знаний и умений. Мы уверены, что многие из вас действительно достойные кандидаты, чтобы получить часть общей прибыли нашей компании.
							p.
								Считаете себя именно таким? Пишите: #[a(href="mailto:bespalov@arsen.pw") bespalov@arsen.pw] или звоните по телефону указанному ниже.
			include footer.jade
		include login-modal.jade
		include scripts.jade