{% if isAMOUser %}
{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    {% include 'layout/amo-header.twig' %}
</head>
<body>
<h3>Поиск и импорт компаний из справочника 2ГИС</h3>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#textsearch" aria-controls="textsearch" role="tab" data-toggle="tab">Текстовый ассоциативный поиск</a></li>
    <li role="presentation"><a href="#rubricsearch" aria-controls="rubricsearch" role="tab" data-toggle="tab">Поиск по видам деятельности</a></li>
    <li role="presentation"><a href="#result" aria-controls="result" role="tab" data-toggle="tab">Результаты поиска</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="textsearch">
        <div class="container">
            <div class="row">
                <p>Test1</p>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="rubricsearch">
        <div class="container">
            <div class="row">
                <p>test2</p>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="result">

    </div>
</div>
{% include 'layout/scripts.twig' %}
<script type="text/javascript" src="/public/js/amocrm.min.js"></script>
</body>
</html>
{% endspaceless %}
{% endif %}