{% if isAMOUser %}
{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    {% include 'layout/amo-header.twig' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <p>API key: {{ request.apikey }}</p>
        <p>Login: {{ request.login }}</p>
        <p>Hash: {{ request.hash }}</p>
        <p>Subdomain: {{ request.subdomain }}</p>
    </div>
</div>
{% include 'layout/scripts.twig' %}
</body>
</html>
{% endspaceless %}
{% endif %}