<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/public/css/b24.css">
	<script type="text/javascript" src="//api.bitrix24.com/api/v1/"></script>
</head>
<body>
	<div class="block">
		<div class="block-top">
			<div class="block-top-title">
				Общие данные
			</div>
		</div>
		<ol class="string-block">
			<li class="destination-block">
				<div class="destination-title">Ключ доступа:</div>
				<div class="destination-wrap" id="destination-container">
					<span class="destination-input-box" id="destination-input-box">
						<input type="text" class="destination-inp" id="destination-input">
					</span>
				</div>
			</li>
			<li class="destination-block">
				<div class="destination-title">Ваш город:</div>
				<div class="destination-wrap" id="destination-container">
					<span class="destination-input-box" id="destination-input-box">
						<select name="CITY" class="destination-inp">
							<option value="">[ выберите ваш город ]</option>
							{% for city in cities %}
								<option value="{{city.code}}">{{city.name}}</option>
							{% endfor %}
						</select>
					</span>
				</div>
			</li>
		</ol>
		<!-- <p class="block-item">Здесь будет настройка приложения!</p> -->
	</div>
</body>
</html>
<script>
BX24.callMethod('user.current', {}, function(res) {
	alert('Привет, ' + res.data().NAME + '!');
});
</script>