<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="//api.bitrix24.com/api/v1/"></script>
</head>
<body>
	Битрикс24 сказал серверу, что вас зовут {{res.result.NAME}}.
	<a href="#." onclick="clientCheck();">Проверим?</a>
</body>
</html>
<script>
function clientCheck() {
	BX24.callMethod('user.current', {}, function(r) {
		alert('Клиенту он сказал, что вас зовут ' + r.data().NAME + ' :-)');
	});
}
</script>