{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h1>Настройка приложения</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Добрый день!</h2>
						<p>Для правильной работы приложения требуется указать всего пару параметров. Один из которых вы можете найти в личном кабинете на сайте <a href="http://www.lead4crm.ru" target="_blank">www.lead4crm.ru</a>.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3>Ключ доступа</h3>
					</div>
					<div class="col-md-6">
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Введите персональный ключ доступа">
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3>Ваш город</h3>
					</div>
					<div class="col-md-6">
						<form>
							<div class="form-group">
								<select name="CITY" class="form-control">
									<option value="">[ выберите ваш город ]</option>
									{% for city in cities %}
										<option value="{{city.code}}">{{city.name}}</option>
									{% endfor %}
								</select>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript" src="//api.bitrix24.com/api/v1/"></script>
	{% include 'layout/scripts.twig' %}
</body>
</html>
{% endspaceless %}