{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Добрый день!</h2>
						<p class="lead">Спасибо что выбрали наше приложение. Мы старались его сделать максимально удобным и функциональным. Для правильной работы приложения требуется указать всего пару параметров.</p>
						<form>
							<h3>Ключ доступа</h3>
							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="Введите персональный ключ доступа" value="{{apikey}}">
							</div>
							<h3>Ваш город</h3>
							<div class="form-group">
								<select name="CITY" class="form-control input-lg">
									<option value="">[ выберите ваш город ]</option>
									{% for city in cities %}
										<option value="{{city.code}}">{{city.name}}</option>
									{% endfor %}
								</select>
							</div>
							<button class="btn btn-primary btn-lg rounded" type="submit">Сохранить</button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript" src="//api.bitrix24.com/api/v1/"></script>
	{% include 'layout/scripts.twig' %}
</body>
</html>
{% endspaceless %}