{% set auth_link %}
	<a data-modal="login" class="btn btn-default md-trigger rounded">авторизоваться</a>
{% endset %}

{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		{% include 'layout/menu.twig' %}
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h1>Цены</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="visual-container">
			<div class="visual-area">
				<div class="container">
					<h2>Стоимость услуг доступа</h2>
					<div class="pricing-tables">
						<div class="plan">
							<div class="head">
								<h3>Старт</h3>
							</div>
							<div class="price">
								<span class="price-main">0,98 <span class="month"><i class="fa fa-rub"></i></span></span>
								<span class="price-additional">за 1 запрос</span>
							</div>
							<ul class="item-list">
								<li>Автоматическое продление</li>
								<li>Стоимость пакета — 2000 <i class="fa fa-rub"></i></li>
							</ul>
							{% if userid %}
								<a href="/setTariff/start/" class="btn btn-default rounded">подключить</a>
							{% endif %}
						</div>
						<div class="plan recommended">
							<div class="head">
								<h3>Компания</h3>
							</div>
							<div class="price">
								<span class="price-main">0,65 <span class="month"><i class="fa fa-rub"></i></span></span>
								<span class="price-additional">за 1 запрос</span>
							</div>
							<ul class="item-list">
								<li>Автоматическое продление</li>
								<li>Стоимость пакета — 10&nbsp;000 <i class="fa fa-rub"></i></li>
							</ul>
							{% if userid %}
								<a href="/setTariff/company/" class="btn btn-default rounded">подключить</a>
							{% endif %}
						</div>
						<div class="plan">
							<div class="head">
								<h3>Корпорация</h3>
							</div>
							<div class="price">
								<span class="price-main">0,43 <span class="month"><i class="fa fa-rub"></i></span></span>
								<span class="price-additional">за 1 запрос</span>
							</div>
							<ul class="item-list">
								<li>Автоматическое продление</li>
								<li>Стоимость пакета — 50&nbsp;000 <i class="fa fa-rub"></i></li>
							</ul>
							{% if userid %}
								<a href="/setTariff/corporation/" class="btn btn-default rounded">подключить</a>
							{% endif %}
						</div>
						<div class="plan">
							<div class="head">
								<h3>Ультра</h3>
							</div>
							<div class="price">
								<span class="price-main">0,10 <span class="month"><i class="fa fa-rub"></i></span></span>
								<span class="price-additional">за 1 запрос</span>
							</div>
							<ul class="item-list">
								<li>Автоматическое продление</li>
								<li>Стоимость пакета — 120&nbsp;000 <i class="fa fa-rub"></i></li>
							</ul>
							{% if userid %}
								<a href="/setTariff/ultra/" class="btn btn-default rounded">подключить</a>
							{% endif %}
						</div>
					</div>
					<p class="silent">Данные цены указаны для добавления каждой компании в справочник CRM Битрикс24. Срок действия тарифных планов не ограничен по времени использования. Стомость пакета услуг может ровно не делиться на стомость импорта за компанию, в связи с чем импортируемое кол-во компаний округляется в меньшую сторону. При исчерпывании всех средств доступ блокируется до момента приобретения нового пакета. Средства перечисленные на лицевой счет возврату или обмену на другие услуги не подлежат. Фактом оплаты считается момент зачисления денежных средств на лицевой счет нашей компании, в связи с чем оплата по счету для юридических лиц может затянуться до 3 банковских дней.</p>
				</div>
				<img src="/public/images/img-decor-03.jpg" height="1175" width="1380" class="bg-stretch">
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>Как пользоваться?</h2>
						<p>Все очень просто — вы вибираете подходящий вам тарифный план, активируете его (при этом вы должны быть уже авторизированны на сайте) ориентируясь на стоимость тарифа и стоимость добавления каждой компании в ваш справочник контрагентов CRM. Далее зайдя на ваш корпоративный портал и установив наш модуль нужно будет ввести сформированный для вас ключ доступа (он обычно выделен в личном кабинете).</p>
						<p>Сохранив ключ доступа в настройках модуля вы получаете возможность импорта данных из справочника <a href="http://2gis.ru" target="_blank" title="2ГИС">2ГИС</a> по указанным параметрам поиска, например по рубриками или по названиям компаний, а также с указанием определенного города.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="area">
			<div class="container">
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>Как оплачивать?</h2>
						<p>Пакеты услуг доступа имеют определенные цены и подключаются только в том случае, если у вас на балансе будет сумма не меньше стоимости пакета. При этом с вашего баланса будет сразу же списана сумма стоимости выбранного вами тарифа. То есть если вы подключите пакет «Компания» стомостью 10&nbsp;000 рублей, то с вашего баланса будет списано 10&nbsp;000 рублей &mdash; все просто. Рассмотрим далее: на данном тарифном плане предусмотрено 15 384 запросов, то есть если вы израсходуете все 15 384 запросов, то предоставляться услуги не перестанут, просто далее с вашего баланса будет списываться по 0,65 рублей за каждый последующий запрос, конечно если на вашем балансе есть какие-нибудь средства.</p>
						<p>Что касается пополнению баланса, то здесь предлагается несколько способов:</p>
					</div>
				</div>
				<div class="row">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>
									<img src="/public/images/price/icon_1.png" class="center-block">
								</th>
								<th>
									<img src="/public/images/price/icon_2.png" class="center-block">
								</th>
								<th>
									<img src="/public/images/price/icon_3.png" class="center-block">
								</th>
								<th>
									<img src="/public/images/price/icon_4.png" class="center-block">
								</th>
								<th>
									<img src="/public/images/price/icon_5.png" class="center-block">
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<h4 class="text-center">Банковские карты</h4>
									<ul>
										<li>Visa, Visa Electron</li>
										<li>MasterCard</li>
										<li>Maestro</li>
									</ul>
								</td>
								<td>
									<h4 class="text-center">Электронные деньги</h4>
									<ul>
										<li>Яндекс.Деньги</li>
										<li>WebMoney</li>
									</ul>
								</td>
								<td>
									<h4 class="text-center">Наличные</h4>
									<ul>
										<li>Более 170 тысяч пунктов <br> оплаты по России</li>
									</ul>
								</td>
								<td>
									<h4 class="text-center">Баланс телефона</h4>
									<ul>
										<li>Билайн</li>
										<li>МегаФон</li>
										<li>МТС</li>
									</ul>
								</td>
								<td>
									<h4 class="text-center">Безналичный расчет</h4>
									<ul>
										<li>С любого расчетного счета <br> юридического лица</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		{% include 'layout/footer.twig' %}
	</div>
	{% include 'layout/login.twig' %}
	{% include 'layout/scripts.twig' %}
	<script src="/public/js/classie.min.js"></script>
	<script src="/public/js/modalEffects.min.js"></script>
</body>
</html>
{% endspaceless %}