{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		{% include 'layout/menu.twig' %}
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h1>Цены</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="visual-container">
			<div class="visual-area">
				<div class="container">
					<h2>Стоимость услуг доступа</h2>
					<div class="pricing-tables">
						<div class="plan">
							<div class="head">
								<h3>Старт</h3>
							</div>
							<div class="price">
								<span class="price-main">0,98 <span class="month"><i class="fa fa-rub"></i></span></span>
								<span class="price-additional">за каждую компанию</span>
							</div>
							<ul class="item-list">
								<li>Стоимость пакета — 2000 <i class="fa fa-rub"></i></li>
							</ul>
							<a href="/cabinet/select/start" class="btn btn-default rounded">подключить</a>
						</div>
						<div class="plan recommended">
							<div class="head">
								<h3>Компания</h3>
							</div>
							<div class="price">
								<span class="price-main">0,65 <span class="month"><i class="fa fa-rub"></i></span></span>
								<span class="price-additional">за каждую компанию</span>
							</div>
							<ul class="item-list">
								<li>Стоимость пакета — 10&nbsp;000 <i class="fa fa-rub"></i></li>
							</ul>
							<a href="/cabinet/select/company" class="btn btn-default rounded">подключить</a>
						</div>
						<div class="plan">
							<div class="head">
								<h3>Корпорация</h3>
							</div>
							<div class="price">
								<span class="price-main">0,43 <span class="month"><i class="fa fa-rub"></i></span></span>
								<span class="price-additional">за каждую компанию</span>
							</div>
							<ul class="item-list">
								<li>Стоимость пакета — 50&nbsp;000 <i class="fa fa-rub"></i></li>
							</ul>
							<a href="/cabinet/select/corporation" class="btn btn-default rounded">подключить</a>
						</div>
						<div class="plan">
							<div class="head">
								<h3>Ультра</h3>
							</div>
							<div class="price">
								<span class="price-main">0,10 <span class="month"><i class="fa fa-rub"></i></span></span>
								<span class="price-additional">за каждую компанию</span>
							</div>
							<ul class="item-list">
								<li>Стоимость пакета — 120&nbsp;000 <i class="fa fa-rub"></i></li>
							</ul>
							<a href="/cabinet/select/ultra" class="btn btn-default rounded">подключить</a>
						</div>
					</div>
					<p class="silent">Данные цены указаны для добавления каждой компании в справочник CRM Битрикс24. Срок действия тарифных планов не ограничен по времени использования. Стомость пакета услуг может ровно не делиться на стомость импорта за компанию, в связи с чем импортируемое кол-во компаний округляется в меньшую сторону. При исчерпывании всех средств доступ блокируется до момента приобретения нового пакета. Средства перечисленные на лицевой счет возврату или обмену на другие услуги не подлежат. Фактом оплаты считается момент зачисления денежных средств на лицевой счет нашей компании, в связи с чем оплата по счету для юридических лиц может затянуться до 3 банковских дней.</p>
				</div>
				<img src="/public/images/img-decor-03.jpg" height="1175" width="1380" class="bg-stretch">
			</div>
		</section>
		{% include 'layout/footer.twig' %}
	</div>
	{% include 'layout/login.twig' %}
	{% include 'layout/scripts.twig' %}
</body>
</html>
{% endspaceless %}