script(src="js/modernizr.custom.js")
script(src="/js/jquery-1.11.2.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/jquery.main.min.js")

script(src="/js/classie.min.js")
script(src="/js/modalEffects.min.js")
script.
	WebFontConfig = {
	   google: { families: [ 'Roboto:400,400italic,700,300,500:latin,cyrillic' ] }
	 };
	 (function() {
	   var wf = document.createElement('script');
	   wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	     '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	   wf.type = 'text/javascript';
	   wf.async = 'true';
	   var s = document.getElementsByTagName('script')[0];
	   s.parentNode.insertBefore(wf, s);
	})(); 
//- script.
//- 	var polyfilter_scriptpath = '/js/';
//- script(src="/js/cssParser.js")
//- script(src="/js/css-filters-polyfill.js")