script(src="js/modernizr.custom.js")
script(src="/js/jquery-1.11.2.min.js")
script(src="/js/bootstrap.js")
script(src="/js/jquery.main.js")

script(src="/js/classie.js")
script(src="/js/modalEffects.js")
//- script.
//- 	var polyfilter_scriptpath = '/js/';
//- script(src="/js/cssParser.js")
//- script(src="/js/css-filters-polyfill.js")