doctype html
html
	head
		include header.jade
	body
		#wraper
			include menu.jade
			section.visual-other
				.container
					.text-block
						.heading-holder: h1 Поддержка
			section.main
				.container
					.row
						.text-box.col-md-offset-1.col-md-10
							h2 +7 (499) 704-69-17
							p.
								Мы осуществляем прием звонков в любое удобное для вас время. Если никто из операторов не
								сможет принять ваш звонок, то пожалуйста, не стесняйтесь, оставляйте голосовое сообщение
								и мы в самое ближайшее время свяжемся с вами.
							p.
								Для вас очень важно чтобы все наши клиенты оставались довольными, для этого мы стараемся
								приложить все условия комфортного обслуживания клиентов.
			section.area
				.container
					.row
						.text-box.col-md-offset-1.col-md-10
							h2 help@lead4crm.ru
							p.
								Если вам удобнее написать нам по электронной почте — пишите, не стесняйтесь, все письма
								полученные на указанный адрес получают пометку наивысшей важности, а следовательно
								ответ вы получите в самые кротчайшие сроки, возможно вы еще не успеете налить кофе.
							p
								a(href="mailto:help@lead4crm.ru").btn.btn-lg.btn-primary.rounded Написть немедленно&hellip;
			include footer.jade
		include login-modal.jade
		include scripts.jade