{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		{% include 'layout/menu.twig' %}
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h1>Поддержка</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>+7 (499) 704-69-17</h2>
						<p>Мы осуществляем прием звонков в любое удобное для вас время. Если никто из операторов не сможет принять ваш звонок, то пожалуйста, не стесняйтесь, оставляйте голосовое сообщение и мы в самое ближайшее время свяжемся с вами.</p>
						<p>Для вас очень важно чтобы все наши клиенты оставались довольными, для этого мы стараемся приложить все условия комфортного обслуживания клиентов.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="area">
			<div class="container">
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2>help@lead4crm.ru</h2>
						<p>Если вам удобнее написать нам по электронной почте — пишите, не стесняйтесь, все письма полученные на указанный адрес получают пометку наивысшей важности, а следовательно ответ вы получите в самые кротчайшие сроки, возможно вы еще не успеете налить кофе.</p>
						<p><a href="mailto:help@lead4crm.ru" class="btn btn-lg btn-primary rounded">Написать немедленно&hellip;</a></p>
					</div>
				</div>
			</div>
		</section>
		{% include 'layout/footer.twig' %}
	</div>
	{% include 'layout/login.twig' %}
	{% include 'layout/webcall.twig' %}
	{% include 'layout/scripts.twig' %}
	<script src="/public/js/classie.min.js"></script>
	<script src="/public/js/modalEffects.min.js"></script>
	<script src="/public/js/webcall.js"></script>
</body>
</html>
{% endspaceless %}