{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/transifex.twig' %}
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		{% include 'layout/menu.twig' %}
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h1>Публичный договор-оферта по оказанию информационных услуг</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<ol>
							<li>Данный документ является официальным предложением (публичной офертой) ИП Беспалов Арсен Георгиевич (ОГРН 314385020500125, ИНН 381004151548), именуемый в дальнейшем Исполнитель, и содержит все существенные условия по оказанию информационных услуг под торговой маркой «Lead4CRM» или «Генератор лидов» (сайта www.lead4crm.ru). Перечень информационных услуг приведен в приложении к настоящему договору — Прейскуранте услуг.</li>
							<li>В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт настоящей оферты, становится Заказчиком (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте), а Исполнитель и Заказчик совместно — Сторонами настоящего договора.</li>
							<li>В связи с изложенным выше, внимательно прочитайте текст настоящей публичной оферты и ознакомьтесь с прейскурантом услуг. Если Вы не согласны с каким-либо пунктом оферты, Исполнитель предлагает Вам отказаться от использования услуг.</li>
						</ol>
						<ol>
							<li>Оферта — настоящий документ «Публичный договор-оферта по оказанию информационных услуг Lead4CRM», опубликованный в сети Интернет по адресу: https://www.lead4crm.ru/terms/.</li>
							<li>Акцепт оферты — полное и безоговорочное принятие оферты путем осуществления Заказчиком действий, указанных в пункте 14 настоящей оферты. Акцепт оферты создает договор оферты.</li>
							<li>Заказчик — лицо, осуществляющее акцепт оферты, и являющееся таким образом Заказчиком услуг Исполнителя по заключенному договору оферты.</li>
							<li>Договор оферты — договор между Исполнителем и Заказчиком на оказание информационных услуг, который заключается посредством акцепта оферты.</li>
							<li>Прейскурант — действующий систематизированный перечень информационных услуг Исполнителя с ценами, приведенный на Интернет-странице по адресу: https://www.lead4crm.ru/price/.</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		{# <section class="area">
			<div class="container">
				<div class="row">
					<div class="text-box col-md-offset-1 col-md-10">
						<h2 class="notr">help@lead4crm.ru</h2>
						<p>Если вам удобнее написать нам по электронной почте — пишите, не стесняйтесь, все письма полученные на указанный адрес получают пометку наивысшей важности, а следовательно ответ вы получите в самые кротчайшие сроки, возможно вы еще не успеете налить кофе.</p>
						<p><a href="mailto:help@lead4crm.ru" class="btn btn-lg btn-primary rounded">&nbsp;Написать немедленно&hellip;&nbsp;</a></p>
					</div>
				</div>
			</div>
		</section> #}
		{% include 'layout/footer.twig' %}
	</div>
	{% include 'layout/login.twig' %}
	{% include 'layout/webcall.twig' %}
	{% include 'layout/scripts.twig' %}
	<script src="/public/js/classie.min.js"></script>
	<script src="/public/js/modalEffects.min.js"></script>
	<script src="/public/js/webcall.js"></script>
</body>
</html>
{% endspaceless %}