{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	{% include 'layout/transifex.twig' %}
	{% include 'layout/header.twig' %}
</head>
<body>
	<div id="wraper">
		{% include 'layout/menu.twig' %}
		<section class="visual-other">
			<div class="container">
				<div class="text-block">
					<div class="heading-holder">
						<h2>Публичный договор-оферта по оказанию информационных услуг</h2>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ol>
							<li>Данный документ является официальным предложением (публичной офертой) ИП Беспалов Арсен Георгиевич (ОГРН 314385020500125, ИНН 381004151548), именуемый в дальнейшем Исполнитель, и содержит все существенные условия по оказанию информационных услуг под торговой маркой «Lead4CRM» или «Генератор лидов» (сайта www.lead4crm.ru). Перечень информационных услуг приведен в приложении к настоящему договору — Прейскуранте услуг.</li>
							<li>В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт настоящей оферты, становится Заказчиком (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте), а Исполнитель и Заказчик совместно — Сторонами настоящего договора.</li>
							<li>В связи с изложенным выше, внимательно прочитайте текст настоящей публичной оферты и ознакомьтесь с прейскурантом услуг. Если Вы не согласны с каким-либо пунктом оферты, Исполнитель предлагает Вам отказаться от использования услуг.</li>

							<li style="padding-top:30px;">Оферта — настоящий документ «Публичный договор-оферта по оказанию информационных услуг Lead4CRM», опубликованный в сети Интернет по адресу: https://www.lead4crm.ru/terms/.</li>
							<li>Акцепт оферты — полное и безоговорочное принятие оферты путем осуществления Заказчиком действий, указанных в пункте 14 настоящей оферты. Акцепт оферты создает договор оферты.</li>
							<li>Заказчик — лицо, осуществляющее акцепт оферты, и являющееся таким образом Заказчиком услуг Исполнителя по заключенному договору оферты.</li>
							<li>Договор оферты — договор между Исполнителем и Заказчиком на оказание информационных услуг, который заключается посредством акцепта оферты.</li>
							<li>Прейскурант — действующий систематизированный перечень информационных услуг Исполнителя с ценами, приведенный на Интернет-странице по адресу: https://www.lead4crm.ru/price/.</li>

							<li style="padding-top:30px;">Предметом настоящей оферты является оказание Заказчику информационных услуг в соответствии с условиями настоящей оферты и текущим прейскурантом услуг Исполнителя.</li>
							<li>Перечень оказываемых информационных услуг опубликован в открытом виде на данном ресурсе.</li>
							<li>Публичная оферта и все приложение к ней являются официальными документами и публикуются на Интернет-ресурсе по адресу: https://www.lead4crm.ru/terms/.</li>
							<li>Исполнитель имеет право в любой момент изменять Прейскурант и условия настоящей публичной оферты в одностороннем порядке без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий в личном кабинете Заказчика на Интернет-ресурсе по адресу: https://www.lead4crm.ru/cabinet/ посредством информационного сообщения о необходимости ознакомиться с новыми условия договора-оферты и принять, либо отказаться от условий нового договора оферты.</li>

							<li style="padding-top:30px;">Оказание информационных услуг предоставляются в полном объеме при условии их 100% (сто процентной) предоплаты Заказчиком.</li>
							<li>Ознакомившись с прейскурантом услуг Исполнителя и текстом настоящей публичной оферты, Заказчик нажимает кнопку «Принимаю условия настоящего договора-оферты», получая полный доступ ко всем инструментам взаимодействия с системой, либо отказывается принимать условия настоящего договора-оферты, подтверждая удаление ранее созданной учетной записи Заказчика и возврата на главную страницу Интернет-ресурса: https://www.lead4crm.ru/.</li>
							<li>Для получения услуг Заказчик должен пополнить текущий баланс одним из способов пополнения текущего баланса, будь то перечисление денежных средств на счет в личной кабинете посредствам операторов по приему платежей с банковских карты, терминальных платежных устройств или любой другой электронной валюты для физических лиц, либо путем перечисления денежных средств на счет Исполнителя на основании выставленного счета для юридических лиц.</li>
							<li>Исполнитель выбирает по собственному желанию любой из тарифных планов, указанных в Прейскуранте, в личном кабинете во вкладе выбора тарифного плана, по адресу: https://www.lead4crm.ru/cabinet/.</li>
							<li>Любой из действующих тарифных планов, описанных в Прейскуранте, имеет определенное количество включенных в стоимость карточек/профилей компаний и определенную стоимость каждой карточки/профиля компании. При превышении указанного количества запросов включенных в тарифный план, предоставление услуг продолжается по той же стоимости, соответствующих выбранному тарифу, при наличии денежных средств на лицевом счету Заказчика.</li>
							<li>Каждый месяц со дня последней активации тарифного плана производиться обнуление остатка предоплаченных карточек/профилей компаний и попытка продления текущего тарифного плана Заказчика. В случае невозможности списания суммы равной стоимости продлеваемого тарифного плана, Заказчик переводиться на тариф без абонентской платы и при наличии денежных средств на лицевом счету Заказчика, в сумме не меньше стоимости одной карточки/профиля компании, тарифа без абонентской платы, предоставление услуг продолжается до момента расходования остатка денежных средств, согласно составляющим тарифа без абонентской платы.</li>	
							<li>Заказчик выставляет счета самостоятельно в личном кабинете пользователя во вкладке «Пополнение баланса» на Интернет-ресурсе по адресу: https://www.lead4crm.ru/cabinet/.</li>
							<li>После акцепта оферты и с момента зачисления денежным средств на лицевой счет Заказчика Исполнитель обеспечивает предоставление информационных услуг Заказчику в полном объеме согласно данному договору-оферты.</li>
							<li>В случае не поступления от Заказчика претензий с мотивированным отказом от услуг в письменном виде в течении 14 дней после оплаты, услуги считаются оказанными надлежащим образом, выполненными в полном объеме и принятыми Заказчиком.</li>
							<li>Средства зачисленные на лицевой счет Заказчика возврату и обмену не подлежат.</li>

							<li style="padding-top:30px;">Исполнитель делает все возможное, чтобы обеспечивать качественное и бесперебойное предоставление услуг Заказчику в соответствии с прейскурантом услуг.</li>
							<li>Исполнитель не несет ответственности за нарушение условий договора оферты, если такое нарушение вызвано действиями обстоятельств непреодолимой силы (форс-мажор), включая: действия органов государственной власти, пожар, наводнение, землетрясение, другие стихийные действия, отсутствие электроэнергии и/или сбои работы компьютерной сети, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства, не ограничиваясь перечисленным, которые могут повлиять на выполнение Исполнителем условий настоящей публичной оферты и неподконтрольные Исполнителю.</li>
							<li>В случае неполного или полного не оказания услуг по вине Исполнителя, Исполнитель обязуется возместить потраченные денежных средства Заказчика на лицевой счет Заказчика в том объеме, в котором они было потрачены на услуги, которые не были оказаны частично или полностью. В иных случаях возмещение денежных средств не производится. Также возмещения денежных средства не производиться, когда на момент получения рекламации в личном кабинете заказчика уже имеется архивная выборка полученных карточек компаний, в таком случае заказчик должен самостоятельно скачать и загрузить выборку в свою CRM, ERP или BPM систему, в свою очередь Исполнитель предпримет все возможные меры по устранению причин частичной или полной не работы интегрированного модуля, на работу которого была ранее получена рекламация, в самые кратчайшие сроки.</li>
							<li>За невыполнение или ненадлежащее выполнение обязательств по настоящей публичной оферте Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации. Договор вступает в силу с момента акцепта оферты и действует до выполнения Сторонами своих обязательств. Все споры и разногласия решаются путем переговоров Сторон. Срок рассмотрения рекламаций — тридцать дней.</li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		<section class="area">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<h4 class="notr">Реквизиты Исполнителя</h4>
						<p><strong>ИП Беспалов Арсен Георгиевич</strong></p>
						<p>
							ИНН 381004151548 <br>
							ОГРН 314385020500125 <br>
							Р/с 40802810618350007723 <br>
							в БАЙКАЛЬСКИЙ БАНК СБЕРБАНКА РОССИИ <br>
							К/c 30101810900000000607 <br>
							БИК 042520607 <br>
							Email: support@cnamrf.ru <br>
							Тел.: +7 (499) 704-69-17
						</p>
					</div>
				</div>
			</div>
		</section>
		{% include 'layout/footer.twig' %}
	</div>
	{% include 'layout/login.twig' %}
	{% include 'layout/webcall.twig' %}
	{% include 'layout/scripts.twig' %}
	<script src="/public/js/classie.min.js"></script>
	<script src="/public/js/modalEffects.min.js"></script>
	<script src="/public/js/webcall.js"></script>
</body>
</html>
{% endspaceless %}