body {
	/*background: #eef2f4;*/
	color: #000;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

.block {
	background: #fff;
	margin-bottom: 17px;
}

.block .block-top {
	background: #8d81ac;
	margin-bottom: 13px;
}

.block-top {
	height: 52px;
	position: relative;
}

.block-top-title {
	color: #e3dfed;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	height: 52px;
	line-height: 52px;
	padding-left: 20px;
	text-transform: uppercase;
}

.block-item {
	border-bottom: 0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
	overflow: hidden;
	padding: 14px 0 11px 17px;
}