body {
	/*background: #eef2f4;*/
	color: #000;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

.block {
	background: #fff;
	margin-bottom: 17px;
}

.block .block-top {
	background: #8d81ac;
	margin-bottom: 13px;
}

.block-top {
	height: 52px;
	position: relative;
}

.block-top-title {
	color: #e3dfed;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	height: 52px;
	line-height: 52px;
	padding-left: 20px;
	text-transform: uppercase;
}

.block-item {
	border-bottom: 0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
	overflow: hidden;
	padding: 14px 0 11px 17px;
}

.string-block {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.string-block li:first-child {
	border-top: 0;
	margin: 0;
	padding-top: 6px;
}

.string-block li:last-child {
	border-top: 1px solid #f0f1f2;
}

.string-block li {
	list-style-type: none;
	margin: 13px 0 0 0;
	padding: 20px 18px 7px 12px;
}

.destination-block {
	overflow: hidden;
	position: relative;
}

.destination-block .destination-title {
	margin-top: 15px;
}

.destination-title {
	color: #000;
	float: left;
	font-size: 14px;
	min-width: 120px;
	padding-left: 5px;
	padding-right: 0;
}

.destination-wrap {
	border: 1px solid #e4e4e4;
	border-radius: 1px;
	overflow: hidden;
	padding: 7px 7px 1px;
	min-height: 36px !important;
}

span#destination-input-box.destination-input-box {
	display: inline;
}

.destination-inp {
	background: #f8fafa;
	border: 0;
	color: #555;
	display: inline-block;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0 7px 7px 0;
	height: 30px;
	width: 100%;
	outline: 0;
	padding: 0;
	vertical-align: middle;
}

.webform-small-button-blue::before,
.webform-small-button-accept::before {
	width: 4px;
	background: url(/public/images/controls-sprite.png) no-repeat 0 -328px;
	margin-right: 6px;
}

.webform-small-button::before {
	width: 4px;
	background: url(/public/images/controls-sprite.png) no-repeat 0 -328px;
	margin-right: 6px;
}

.webform-button-left,
.webform-button-right,
.webform-button::before,
.webform-button::after,
.webform-small-button-left,
.webform-button-upload .webform-button-left,
.webform-small-button-right,
.webform-button-upload .webform-button-right,
.webform-small-button::before,
.webform-small-button::after {
	display: none;
}

.webform-small-button-blue::after,
.webform-small-button-accept::after {
	background: url(/public/images/controls-sprite.png) no-repeat -6px -328px;
}

.webform-small-button::after {
	width: 4px;
	background: url(/public/images/controls-sprite.png) no-repeat -22px -493px;
	margin-left: 8px;
}

.webform-small-button::before,
.webform-small-button::after {
	content: '';
}

.bx-btn-panel .bx-save-options {
	min-width: 100px;
	margin: 3px 2px !important;
	text-align: center;
}

.webform-small-button-accept,
.webform-small-button-accept .webform-small-button-text {
	font-size: 12px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 39px;
}

.webform-small-button,
.webform-button.webform-button-upload,
.webform-field-upload {
	height: 39px;
	line-height: 39px !important;
	margin: 0 12px 0 0;
}

.webform-button-accept,
.webform-button-create,
.webform-button-accept .webform-button-text,
.webform-button-create .webform-button-text,
.webform-small-button-accept,
.webform-small-button-accept .webform-small-button-text {
	background: #bbed21;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #535c69;
}

.webform-button,
.webform-small-button,
.webform-button-upload {
	background: #ecedef;
	-webkit-box-shadow: 0 0 0 1px #c6cdd3 inset;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 2px;
	cursor: pointer;
	color: #7a818a;
	display: inline-block;
	height: 47px;
	line-height: 47px;
	margin: 0 16px 0 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	outline: 0
	padding: 0 18px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: background-color .25s linear;
	transition: background-color .25s linear;
}

.webform-small-button-accept,
.webform-small-button-blue:hover,
.webform-small-button-accept:hover,
.webform-small-button-accept .webform-small-button-text {
	color: #fff;
	font: normal normal normal 13px/24px Arial, Helvetica, sans-serif;
	text-shadow: #75ab6f -1px -1px 0;
}

.webform-small-button,
.webform-small-button:hover,
.webform-small-button-text {
	color: #4f4f4f;
	font: normal normal normal 13px/24px Arial, Helvetica, sans-serif;
}

.webform-small-button {
	background: url(/public/images/controls-sprite.png) repeat-x 0 -551px;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.06);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.06);
	border-radius: 4px;
	margin: 0 12px 0 0;
	vertical-align: middle;
}

.webform-small-button,
.webform-small-button:before,
.webform-small-button:after,
.webform-small-button-icon,
.webform-small-button-text {
	cursor: pointer;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	vertical-align: top;
	outline: 0;
	text-decoration: none !important;
	background: 0;
	border: 0;
}