<div class="row">
  <div class="col-md-6">
    <h3>Ключ доступа</h3>
    <p>Это ваш ключ доступа к нашей системе, для того, чтобы нативный модуль начал работать необходимо ввести этот ключ в настройках модуля. Во время установки вы явно видели форму, где необходимо было это сделать. Скопируйте и вставьте этот ключ в поле "Ключ доступа" в настройках модуля "Генератор лидов". Если для вашей системы нет нативного модуля, но этот ключ вам не пригодится.</p>
  </div>
  <div class="col-md-6">
    <h3>&nbsp;</h3>
    <div class="well text-center apikey">
      <notr><strong id="apikey">{{apikey}}</strong></notr>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" id="newapikey">
        <notr><i class="fa fa-key"></i> &nbsp;</notr>
        Сделать новый ключ
      </button>
    </div>
    <h3>&nbsp;</h3>
  </div>
</div>