<section class="main overlay">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <i class="fa fa-spinner fa-pulse fa-3x"></i>
        <br>Пожалуйста, подождите&hellip;
        <br>Идет обработка данных.
      </div>
    </div>
  </div>
</section>