<div class="row">
  <div class="col-md-6">
    <h3>Заявка на регистрацию в реферальной программе</h3>
    <p>Мы производим отчисления по реферальной программе всем участникам программы имеющим юридическое лицо (ИП, ООО, АО). Выплаты физ. лицам мы не производим и в ближайшее время не планируем в связи со сложностью подобных выпал. Для того, чтобы начать пользоваться реферальной программой необходимо заполнить все поля партнерской формы и пользоваться выданной ссылкой.</p>
    <p>По реферальной программе мы выплачиваем 10% от каждой внесенной суммы, привлеченными вами пользователями, на указанный расчетный счет каждого 1 числа месяца при условии, если общая накопленная сумма будет больше и равна 3000 рублей. Список всех пользователей вы увидете в таблице «Привелеченные пользователи». Суммы полученных вознаграждений будут отображаться в тойже таблице. Также в таблице «Привлеченные пользователи» отображается подитог вознаграждений за текущий месяц. Суммы выплат отображаются в отдельной таблице «Выполаты» по месяцам, начиная с месяца регистрации вашей учетной записи в реферальной программе.</p>
    <p>Вся сумма накопленных вознаграждений зачисляется на лицевой счет вашей учетной записи и общую сумму всегда можно видеть в строке «Баланс». Накомпленную сумму можно выводить на указанный расчетный счет, либо пользоваться также как и другие пользователи системы, без каких-либо ограничений. Заказанная выплата в текущем месяце до 5 числа будет перечислена в текущем месяце, после 5 числа будет выплачена в следующем месяце, включая все накопившиеся средства после 5 числа текущего месяца и до 1 числа следующего месяца.</p>
  </div>
  <div class="col-md-6">
    <h3>&nbsp;</h3>
    <div class="alert alert-success alert-dismissible hide" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Заявка успешно отправлена.</strong> Все заявки обрабатываются вручную, поэтому проявите терпение мы вас уведомим как только ваши данные будут проверены и утверждены.
    </div>
    <form action="/setReferal/" method="post" id="referalForm">
      <div class="form-group">
        <label for="inputFirmName">Название организации:</label>
        <input type="text" class="form-control" id="inputFirmName" placeholder="ИП Беспалов Арсен Георгиевич">
        <p class="help-block">Введите краткое или полное наименование вашей организации, главное чтобы было указана организацинно-правовая форма.</p>
      </div>
      <div class="form-group">
        <label for="inputINN">ИНН:</label>
        <input type="text" class="form-control" id="inputINN" placeholder="381004151548" maxlength="12">
        <p class="help-block">Введите идентификационный номер налогоплатильщика.</p>
      </div>
      <div class="form-group">
        <label for="inputBIK">БИК:</label>
        <input type="text" class="form-control" id="inputBIK" placeholder="042520607" maxlength="9">
        <p class="help-block">Введите банковский идентицикационный код.</p>
      </div>
      <div class="form-group">
        <label for="inputRS">Р/с:</label>
        <input type="text" class="form-control" id="inputRS" placeholder="40802810618350007723" maxlength="25">
        <p class="help-block">Введите банковский расчетный счет вашей организации.</p>
      </div>
      <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-envelope"></i> Сохранить и сделать запрос на партнерство</button>
    </form>
    <h3>&nbsp;</h3>
  </div>
</div>