<div class="row" id="refStep01">
  <div class="col-md-6">
    <h3>Заявка на регистрацию в реферальной программе</h3>
    <p>Мы производим отчисления по реферальной программе всем участникам программы имеющим юридическое лицо (ИП, ООО, АО). Выплаты физ. лицам мы не производим и в ближайшее время не планируем в связи со сложностью подобных выпал. Для того, чтобы начать пользоваться реферальной программой необходимо заполнить все поля партнерской формы и пользоваться выданной ссылкой.</p>
    <p>По реферальной программе мы выплачиваем 10% от каждой внесенной суммы, привлеченными вами пользователями, на указанный расчетный счет каждого 1 числа месяца при условии, если общая накопленная сумма будет больше и равна 10&nbsp;000 рублей. Список всех пользователей вы увидете в таблице «Привелеченные пользователи». Суммы полученных вознаграждений будут отображаться в тойже таблице. Также в таблице «Привлеченные пользователи» отображается подитог вознаграждений за текущий месяц. Суммы выплат отображаются в отдельной таблице «Выполаты» по месяцам, начиная с месяца регистрации вашей учетной записи в реферальной программе.</p>
    <p>Вся сумма накопленных вознаграждений зачисляется на лицевой счет вашей учетной записи и общую сумму всегда можно видеть в строке «Баланс». Накомпленную сумму можно выводить на указанный расчетный счет, либо пользоваться также как и другие пользователи системы, без каких-либо ограничений. Заказанная выплата в текущем месяце до 5 числа будет перечислена в текущем месяце, после 5 числа будет выплачена в следующем месяце, включая все накопившиеся средства после 5 числа текущего месяца и до 1 числа следующего месяца.</p>
  </div>
  <div class="col-md-6">
    <h3>&nbsp;</h3>
    <div class="alert alert-success alert-dismissible hide" role="alert" id="refMessageSuccess">
      <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Заявка успешно отправлена.</strong> Все заявки обрабатываются вручную, поэтому проявите терпение мы вас уведомим как только ваши данные будут проверены и утверждены.<br><br>В любом случае с вами свяжется наш специалист по электронному адресу (<strong><u>{{ email.address }}</u></strong>), указанному при авторизации через любой социальный сервис, если, конечно, вы не запретили передачу нам данных вашей электронной почты или, возможно, именно в этом социальном сервисе у вас не указана электронная почта.<br><br>Если в этом сообщении вы не увидели своей электронной почты, тогда свяжитесь с нами дополнительно по почте: <a href="mailto:help@lead4crm.ru">help@lead4crm.ru</a>.
    </div>
    <form action="/setReferal/" method="post" id="referalForm">
      <fieldset>
        <div class="form-group">
          <label for="inputFirmName">Название организации:</label>
          <input type="text" class="form-control" id="inputFirmName" placeholder="ИП Беспалов Арсен Георгиевич">
          <p class="help-block">Введите краткое или полное наименование вашей организации, главное чтобы было указана организацинно-правовая форма.</p>
        </div>
        <div class="form-group">
          <label for="inputINN">ИНН:</label>
          <input type="text" class="form-control" id="inputINN" placeholder="381004151548" maxlength="12">
          <p class="help-block">Введите идентификационный номер налогоплатильщика.</p>
        </div>
        <div class="form-group">
          <label for="inputBIK">БИК:</label>
          <input type="text" class="form-control" id="inputBIK" placeholder="042520607" maxlength="9">
          <p class="help-block">Введите банковский идентицикационный код.</p>
        </div>
        <div class="form-group">
          <label for="inputRS">Р/с:</label>
          <input type="text" class="form-control" id="inputRS" placeholder="40802810618350007723" maxlength="25">
          <p class="help-block">Введите банковский расчетный счет вашей организации.</p>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-envelope"></i> Сохранить и сделать запрос на партнерство</button>
      </fieldset>
    </form>
    <h3>&nbsp;</h3>
  </div>
</div>
<div class="row hide" id="refStep02">
    <div class="col-md-12">
        <h3>Договор реферальной программы</h3>
        <div class="alert alert-warning" role="alert">Проверьте указанные ниже данные, скачайте, прочитайте агентский договор-оферта и подтвержите корректность данных, а также ваше согласние со всеми условиями договора. Если вы видите где-то неточность, просьба написать об этом на почту: <a href="mailto:support@lead4crm.ru" class="alert-link">support@lead4crm.ru</a>.</div>
        <form action="/acceptReferalContract/" id="referalContract">
            <div class="form-group">
                <label for="firmName">Название огранизации:</label>
                <input type="text" class="form-control" id="firmName" readonly>
            </div>
            <div class="form-group">
                <label for="firmURAddr">Юридический адрес:</label>
                <input type="text" class="form-control" id="firmURAddr" readonly>
            </div>
            <div class="form-group">
                <label for="firmPOAddr">Почтовый адрес:</label>
                <input type="text" class="form-control" id="firmPOAddr" readonly>
            </div>
            <div class="form-group">
                <label for="firmINN">ИНН:</label>
                <input type="text" class="form-control" id="firmINN" readonly>
            </div>
            <div class="form-group">
                <label for="firmKPP">КПП:</label>
                <input type="text" class="form-control" id="firmKPP" readonly>
            </div>
            <div class="form-group">
                <label for="firmOGRN">ОГРН:</label>
                <input type="text" class="form-control" id="firmOGRN" readonly>
            </div>
            <div class="form-group">
                <label for="firmOKPO">ОКПО:</label>
                <input type="text" class="form-control" id="firmOKPO" readonly>
            </div>
            <div class="form-group">
                <label for="firmBank">Банк:</label>
                <input type="text" class="form-control" id="firmBank" readonly>
            </div>
            <div class="form-group">
                <label for="firmRS">Расчетный счет:</label>
                <input type="text" class="form-control" id="firmRS" readonly>
            </div>
            <div class="form-group">
                <label for="firmKS">Корреспондентский счет:</label>
                <input type="text" class="form-control" id="firmKS" readonly>
            </div>
            <div class="form-group">
                <label for="firmBIK">БИК:</label>
                <input type="text" class="form-control" id="firmBIK" readonly>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="contract" value="Y" id="firmAccept" onClick="refContractAccept();"> Я прочитал и полностью согласен с <a href="/public/docs/partnership/oferta.pdf">агентским
                        договором-офертой</a> и в дальнейшем работая по реферальной программе буду придерживаться правил данного договора.
                </label>
            </div>
            <button class="btn btn-primary" disabled>Подтверждаю правильность введенных данных</button>
        </form>
    </div>
</div>
<div class="row hide" id="refFinish">
    <div class="col-md-6">
        <h3>Настройка реферальной программы</h3>
        <p>Вы можете воспользоваться либо реферальной ссылкой, либо указать URL с которых могут переходить пользователи и тогда вам достаточно будет написать только адрес нашего сайта без дополнений. Если вы собираетесь указывать URL материалов, где опубликованы ссылки на наш ресурс, то необходимо убедиться в том, что ваш сервер передает реферальные ссылки, для этого после каждого добавления нового URL необходимо подтвердить возможность передачи реферальной информации сервером, на котором находится ссылка на наш ресурс.</p>
        <p>Также заметим, что каждый добавленный URL модерируется вручную для проверки уникальности и сответствия указанному URL рефереру, чтобы избежать присвоения одного и тоже URL нескольким реферам. Поэтому нельзя указать:
        <pre>https://megamozg.ru/*</pre>
        Если у вас там только одна статья со ссылкой на наш ресурс, в таком случае необходимо будет указать полный URL адрес статьи, например:
        <pre>https://megamozg.ru/company/lead4crm/blog/21176/</pre>
        Но если на вашем личном портале вы добавите ссылку на наш ресурс со всех страниц, тогда действительно имеет смысл указать:
        <pre>http://youdomain.com/*</pre>.</p>
    </div>
    <div class="col-md-6">
        <h3>&nbsp;</h3>
        <h4>Реферальная ссылка</h4>
        <div class="well text-center">
            <notr><strong id="refurl">https://www.lead4crm.ru/ref/{{ userid }}</strong></notr>
        </div>
        <p class="help-block">Используйте эту ссылку для привлечения клиентов — это 100% рабочая система привлечения, если пользователь перейдет по этой ссылке, и зарегистрируется на сайте, тогда это 100% ваш клиент.</p>
        <hr>
        <h4>Ваши URL</h4>
        <p class="help-block">Не добавляйте URL адреса тех страниц, где вы разместили реферальную ссылку, реферальная ссылка и так будет считать всех привлеченных вами пользователей. Используйте данную возможность только в том случае, если вы хотите использовать ссылку на наш ресурс без реферальной ссылки, например: <u>https://www.lead4crm.ru/</u> или <u>https://www.lead4crm.ru/price/</u>.</p>
        <table class="table table-hover table-bordered table-condensed">
            <thead>
            <tr>
                <th>URL</th>
                <th><i class="fa fa-share-alt" data-toggle="tooltip" title="Результат проверки URL на передачу реферальной информации сервером"></i></th>
                <th><i class="fa fa-gavel" data-toggle="tooltip" title="Результат проверки модератором добавленной ссылки"></i></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="3"><a href="javascript:addnewurl();" class="btn btn-xs btn-primary">Добавить URL</a></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>