<div class="row">
  <div class="col-md-6">
    <h3>Изменение тарифного плана</h3>
    <p>При балансе равном какому-либо тарифному плану, появляется возможность активировать данный тариф на вашем аккаунте. Вы не сможете активировать более дорогой тариф, если баланс лицевого счета меньше стоимости тарифа, более того, данный тариф даже не появиться в списке тарифов.</p>
    <p>Любой тариф необходимо активировать всего один раз, последующие активации проходят в автоматическом режиме каждый месяц, при наличии достаточной суммы на балансе лицевого счета.</p>
    <p>Если так получилось, что на момент продления тарифного плана на вашем лицевом счету не оказалось достаточной суммы для данной операции, то ваш аккаунт автоматически будет переведен на тарифный план «Демо».</p>
  </div>
  <div class="col-md-6">
    <h3>&nbsp;</h3>
    <form action="/setTariff/" method="post" id="tariffForm">
      <div class="form-group">
        <select name="tariff" class="form-control">
          <option value="demo">[ Выберите подходящий тариф ]</option>
          {% for tariff in tariffs %}
            <option value="{{tariff.code}}">{{tariff.name}} ({{tariff.sum}} руб.)</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
  </div>
</div>