<div class="modal fade" id="searchDialog-0" tabindex="-1" role="dialog" aria-labelledby="sdLabel-0">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="sdLabel-0">Ассоциативный поиск</h4>
      </div>
      <div class="modal-body" id="modal-content">
        <form id="searchForm">
          <div class="form-group">
            <label for="searchInput" class="control-label">Текст поиска:</label>
            <div class="input-group">
              <input type="text" class="form-control" id="searchInput">
              <span class="input-group-btn">
                <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>
        <form id="searchResult">
          <table class="table">
            <thead>
              <tr>
                <th><input type="checkbox" name="selectAll" id="selectAllID" onclick="chMarkAll(0)" checked></th>
                <th>Название компании</th>
                <th>Адрес</th>
                <th>Филиалов</th>
                <th>Действие</th>
              </tr>
            </thead>
            <tbody>
              <tr class="warning">
                <td colspan="5" class="text-center">Пока ничего не найдено&hellip;</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-7">
              <nav>
                <ul class="pagination">
                  <li class="active"><a href="#.">1</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-md-5">
              <div class="progress" style="margin: 24px 0;">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">
                  <span class="sr-only">60%</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="ok" disabled="disabled">Импортировать отмеченные</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="searchDialog-1" tabindex="-1" role="dialog" aria-labelledby="sdLabel-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="sdLabel-1">Точечный поиск</h4>
      </div>
      <div class="modal-body" id="modal-content">
        <h5>Выберите вид деятельности для составления выборки:</h5>
        <p id="helper"><mark>Помните! Некоторые виды деятельности могут не содержать ни одной компании для того или иного города.</mark></p>
        <dl class="dl-horizontal"></dl>
        <div id="searchResult" style="display:none;">
          <form id="searchResultForm">
            <table class="table">
              <thead>
                <tr>
                  <th><input type="checkbox" name="selectAll" id="selectAllID" onclick="chMarkAll(1)" checked></th>
                  <th>Название компании</th>
                  <th>Адрес</th>
                  <th>Филиалов</th>
                  <th>Действие</th>
                </tr>
              </thead>
              <tbody>
                <tr class="warning">
                  <td colspan="5" class="text-center">Пока ничего не найдено&hellip;</td>
                </tr>
              </tbody>
            </table>
            <nav>
              <ul class="pagination"></ul>
            </nav>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="ok" disabled="disabled">Импортировать отмеченные</button>
      </div>
    </div>
  </div>
</div>