<div class="modal fade" id="searchDialog-0">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Ассоциативный поиск</h4>
			</div>
			<div class="modal-body">
				<form id="searchForm">
					<div class="form-group">
						<label for="searchInput" class="control-label">Текст поиска:</label>
						<div class="input-group">
							<input type="text" class="form-control" id="searchInput">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</div>
				</form>
				<hr>
				<h5>Результаты поиска:</h5>
				<form id="searchResult">
					<table class="table">
						<thead>
							<tr>
								<th><input type="checkbox"id="selectAll"></th>
								<th>Название компании</th>
								<th>Кол-во филиалов</th>
								<th>Действие</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning">
								<td colspan="4">Пока ничего не найдено&hellip;</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
				<button type="button" class="btn btn-primary" id="ok">Сохранить выборку</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="searchDialog-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Точечный поиск</h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
				<button type="button" class="btn btn-primary" id="ok">Сохранить выборку</button>
			</div>
		</div>
	</div>
</div>