<div class="md-modal md-effect-10" id="modal-8">
	<div class="md-content">
		<h3>Подтверждение изменения тарифа</h3>
		<div>
			<p class="text-center">
				Выбирая тарифный план вы осознаете то, что при подтверждении с вашего лицевого счета будет списано сумма равная стоимости выбранного тарифного плана.
			</p>
		</div>
	</div>
</div>
<div class="md-overlay"></div>