<div class="modal fade" id="termsModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Соглашение</h4>
			</div>
			<div class="modal-body">
				<p>Согласны ли Вы с условиями договора публичной оферты опубликованного по адресу: <a href="https://www.lead4crm.ru/terms/">https://www.lead4crm.ru/terms/</a>?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="decline">Не согласен</button>
				<button type="button" class="btn btn-primary" id="accept">Согласен</button>
			</div>
		</div>
	</div>
</div>