<div class="md-modal md-effect-7" id="webcall">
	<div class="md-content">
		<h3>Заказ обратного звонка</h3>
		<div>
			<div class="hide" id="webcallmsg"></div>
			<form action="/webcall/" method="post" class="form-horizontal">
				<div class="form-group">
					<label for="phone" class="col-sm-4 control-label">Ваш телефон:</label>
					<div class="col-sm-8">
						<input type="text" name="phone" maxlength="32" class="form-control" id="phone" placeholder="+74997046917">
						<p class="help-block">Телефон должен включать код страны и города, например: +74997046917.</p>
					</div>
				</div>
				<div class="form-group">
					<label for="delay" class="col-sm-4 control-label">Позвонить:</label>
					<div class="col-sm-8">
						<select name="delay" id="delay" class="form-control">
							<option value="0" selected>Прямо сейчас</option>
							<option value="10">Через 10 секунд</option>
							<option value="20">Через 20 секунд</option>
							<option value="30">Через 30 секунд</option>
							<option value="60">Через 1 минуту</option>
							<option value="120">Через 2 минуты</option>
							<option value="180">Через 3 минуты</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<div class="btn-group">
							<button type="submit" class="btn btn-primary">Позвонить мне</button>
							<button type="button" class="btn btn-default md-close">Отмена</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="md-overlay"></div>